body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.list{
    margin: 10%;
    padding: 5%;
    background-color: white;
    border-radius: 5%;
}
header h1{
    text-align: center;
}
.inputtext{
    text-align: center;
}
.add{
    background-color: aqua;
    color: black;
}
.optlist{
    text-align: center;
    margin-top: 3%;
}
.delete{
    background-color: red;
    color: black;
    border-radius: 15%;
}
.update{
    background-color: khaki;
    columns: black;
    border-radius: 15%;
}
.output{
    display: grid;
    flex-direction: column;
    margin-top: 6%;
}
footer button{
    display: flex;
    justify-content: right;
    flex-direction: row;
    text-align: right;
    margin-top: 9%;
    margin-left: 100%;
    background-color: brown;
    color: black;

}
